
    <div class="text-4xl text-blue-700"> 
        <%= "Summary of #{@recording[:metadata][:name] || @recording[:name]}" %>
    </div>

    <hr>
    
    <div class="text-xl m-2"> 
       <%= "#{@recording[:summary]}" %>
    </div>

